Repository credfeto/ImageLoader, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/stale.yml to match the template repo
  .github/workflows/stale.yml
Labels: github-actions

Exclude runtime assets
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

Changed to use abstractions
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

Missing metadata
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

Fixed mixed versions
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
Labels: C# Project, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Interfaces

Additional packages
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

Missing packages
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.0.2.14
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.757
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.4.27
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.2.30
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Roslynator.Analyzers (Code analysis) to 4.2.0
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating SonarAnalyzer.CSharp (Code analysis) to 8.51.0.59060
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.12.2443
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.4.1
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

Release notes for 1.0.28
  CHANGELOG.md
Labels: Change Log, Markdown

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.0.3.15
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

Release notes for 1.0.29
  CHANGELOG.md
Labels: Change Log, Markdown

[FF-1429] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.0.4.16
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

Release notes for 1.0.30
  CHANGELOG.md
Labels: Change Log, Markdown

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.13.2464
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.14.2474
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.2.31
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.758
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.4.33
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.1
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.2.32
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.2
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.3
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/update-labels.yml to match the template repo
  .github/workflows/update-labels.yml
Labels: github-actions

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.ImageLoader.Core":
 - any: [ 'src/Credfeto.ImageLoader.Core/**/*' ]
"Credfeto.ImageLoader.Core.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Core.Tests/**/*' ]
"Credfeto.ImageLoader.Interfaces":
 - any: [ 'src/Credfeto.ImageLoader.Interfaces/**/*' ]
"Credfeto.ImageLoader.Photoshop":
 - any: [ 'src/Credfeto.ImageLoader.Photoshop/**/*' ]
"Credfeto.ImageLoader.Photoshop.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Photoshop.Tests/**/*' ]
"Credfeto.ImageLoader.Raw":
 - any: [ 'src/Credfeto.ImageLoader.Raw/**/*' ]
"Credfeto.ImageLoader.Raw.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Raw.Tests/**/*' ]
"Credfeto.ImageLoader.Standard":
 - any: [ 'src/Credfeto.ImageLoader.Standard/**/*' ]
"Credfeto.ImageLoader.Standard.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Standard.Tests/**/*' ]
