Repository credfeto/ImageLoader, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.6.0
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[Dependencies] - Update CONTRIBUTING.md to match the template repo
  CONTRIBUTING.md
Labels: Markdown

[Dependencies] - Update SECURITY.md to match the template repo
  SECURITY.md
Labels: Markdown

[Dependencies] - Update .github/ISSUE_TEMPLATE/feature_request.md to match the template repo
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Markdown

[Dependencies] - Update .github/ISSUE_TEMPLATE/issue-report.md to match the template repo
  .github/ISSUE_TEMPLATE/issue-report.md
Labels: Markdown

Removed old workflows
  .github/workflows/stale.yml
Labels: github-actions

[Dependencies] - Update SECURITY.md to match the template repo
  SECURITY.md
Labels: Markdown

[Dependencies] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

updated
  src/global.json
Labels: .NET update

Fixing ArgumentNullExceptions
  src/Credfeto.ImageLoader.Core.Tests/ImageLoaderTests.cs
  src/Credfeto.ImageLoader.Core/ImageLoaderCoreSetup.cs
  src/Credfeto.ImageLoader.Core/ImageLoaderFactory.cs
  src/Credfeto.ImageLoader.Photoshop.Tests/PhotoshopTests.cs
  src/Credfeto.ImageLoader.Photoshop/ImageLoaderPhotoshopSetup.cs
  src/Credfeto.ImageLoader.Raw.Tests/CanonRawTests.cs
  src/Credfeto.ImageLoader.Raw/ImageLoaderRawSetup.cs
  src/Credfeto.ImageLoader.Standard.Tests/JpegTests.cs
  src/Credfeto.ImageLoader.Standard.Tests/PngTests.cs
  src/Credfeto.ImageLoader.Standard/ImageLoaderStandardSetup.cs
Labels: Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[SDK] - Updated DotNet SDK to 8.0.100-preview.4.23260.5
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.52
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[Dependencies] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.6.40
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[Dependencies] Updating coverlet (Code Coverage) to 6.0.0
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

Release notes for 1.0.44
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.54
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.1.0.70676
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.55
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.56
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.2.0.71021
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.1.46
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.1.49
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.6.1
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

Release notes for 1.0.45
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.ImageLoader.Core":
 - any: [ 'src/Credfeto.ImageLoader.Core/**/*' ]
"Credfeto.ImageLoader.Core.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Core.Tests/**/*' ]
"Credfeto.ImageLoader.Interfaces":
 - any: [ 'src/Credfeto.ImageLoader.Interfaces/**/*' ]
"Credfeto.ImageLoader.Photoshop":
 - any: [ 'src/Credfeto.ImageLoader.Photoshop/**/*' ]
"Credfeto.ImageLoader.Photoshop.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Photoshop.Tests/**/*' ]
"Credfeto.ImageLoader.Raw":
 - any: [ 'src/Credfeto.ImageLoader.Raw/**/*' ]
"Credfeto.ImageLoader.Raw.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Raw.Tests/**/*' ]
"Credfeto.ImageLoader.Standard":
 - any: [ 'src/Credfeto.ImageLoader.Standard/**/*' ]
"Credfeto.ImageLoader.Standard.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Standard.Tests/**/*' ]
