Repository credfeto/ImageLoader, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.ImageLoader.Core":
 - any: [ 'src/Credfeto.ImageLoader.Core/**/*' ]
"Credfeto.ImageLoader.Core.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Core.Tests/**/*' ]
"Credfeto.ImageLoader.Interfaces":
 - any: [ 'src/Credfeto.ImageLoader.Interfaces/**/*' ]
"Credfeto.ImageLoader.Photoshop":
 - any: [ 'src/Credfeto.ImageLoader.Photoshop/**/*' ]
"Credfeto.ImageLoader.Photoshop.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Photoshop.Tests/**/*' ]
"Credfeto.ImageLoader.Raw":
 - any: [ 'src/Credfeto.ImageLoader.Raw/**/*' ]
"Credfeto.ImageLoader.Raw.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Raw.Tests/**/*' ]
"Credfeto.ImageLoader.Standard":
 - any: [ 'src/Credfeto.ImageLoader.Standard/**/*' ]
"Credfeto.ImageLoader.Standard.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Standard.Tests/**/*' ]

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.4
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.5
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-3881] - Updated DotNet SDK to 7.0.102
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.15.2520
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

Release notes for 1.0.31
  CHANGELOG.md
Labels: Change Log, Markdown

[FF-1429] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.6
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.7
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.8
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.0.5.17
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

Release notes for 1.0.32
  CHANGELOG.md
Labels: Change Log, Markdown

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.16.2535
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.9
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.17.2561
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.10
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating NSubstitute.Analyzers.CSharp (Code analysis) to 1.0.16
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.11
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.13
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests
