Repository credfeto/ImageLoader, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.18.2581
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/linters/.hadolint.yaml to match the template repo
  .github/linters/.hadolint.yaml
Labels: none

[FF-1429] Updating SmartAnalyzers.CSharpExtensions.Annotations (Code analysis) to 4.2.8
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.14
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] Updating SonarAnalyzer.CSharp (Code analysis) to 8.52.0.60960
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] - Update .gitignore to match the template repo
  .gitignore
Labels: none

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.5.22
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.19.2617
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] Updating Magick.NET-Q16-AnyCPU (Image processing) to 12.3.0
  CHANGELOG.md
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Raw

Release notes for 1.0.33
  CHANGELOG.md
Labels: Change Log, Markdown

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.20.2640
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[FF-1429] Updating NSubstitute (Test Infrastructure) to 5.0.0
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.21.2653
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard.Tests

[FF-3881] - Updated DotNet SDK to 7.0.200
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[FF-1429] - Update .github/workflows/dependabot-rebase.yml to match the template repo
  .github/workflows/dependabot-rebase.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-3881] - Updated DotNet SDK to 7.0.200
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[FF-1429] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[FF-1429] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[FF-1429] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[FF-1429] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

Fixed code analysis issues
  src/Credfeto.ImageLoader.Photoshop.Tests/PhotoshopTests.cs
Labels: Credfeto.ImageLoader.Photoshop.Tests

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 2.0.15
  CHANGELOG.md
  src/Credfeto.ImageLoader.Core.Tests/Credfeto.ImageLoader.Core.Tests.csproj
  src/Credfeto.ImageLoader.Core/Credfeto.ImageLoader.Core.csproj
  src/Credfeto.ImageLoader.Interfaces/Credfeto.ImageLoader.Interfaces.csproj
  src/Credfeto.ImageLoader.Photoshop.Tests/Credfeto.ImageLoader.Photoshop.Tests.csproj
  src/Credfeto.ImageLoader.Photoshop/Credfeto.ImageLoader.Photoshop.csproj
  src/Credfeto.ImageLoader.Raw.Tests/Credfeto.ImageLoader.Raw.Tests.csproj
  src/Credfeto.ImageLoader.Raw/Credfeto.ImageLoader.Raw.csproj
  src/Credfeto.ImageLoader.Standard.Tests/Credfeto.ImageLoader.Standard.Tests.csproj
  src/Credfeto.ImageLoader.Standard/Credfeto.ImageLoader.Standard.csproj
Labels: C# Project, Change Log, Markdown, Credfeto.ImageLoader.Core, Credfeto.ImageLoader.Core.Tests, Credfeto.ImageLoader.Interfaces, Credfeto.ImageLoader.Photoshop, Credfeto.ImageLoader.Photoshop.Tests, Credfeto.ImageLoader.Raw, Credfeto.ImageLoader.Raw.Tests, Credfeto.ImageLoader.Standard, Credfeto.ImageLoader.Standard.Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.ImageLoader.Core":
 - any: [ 'src/Credfeto.ImageLoader.Core/**/*' ]
"Credfeto.ImageLoader.Core.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Core.Tests/**/*' ]
"Credfeto.ImageLoader.Interfaces":
 - any: [ 'src/Credfeto.ImageLoader.Interfaces/**/*' ]
"Credfeto.ImageLoader.Photoshop":
 - any: [ 'src/Credfeto.ImageLoader.Photoshop/**/*' ]
"Credfeto.ImageLoader.Photoshop.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Photoshop.Tests/**/*' ]
"Credfeto.ImageLoader.Raw":
 - any: [ 'src/Credfeto.ImageLoader.Raw/**/*' ]
"Credfeto.ImageLoader.Raw.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Raw.Tests/**/*' ]
"Credfeto.ImageLoader.Standard":
 - any: [ 'src/Credfeto.ImageLoader.Standard/**/*' ]
"Credfeto.ImageLoader.Standard.Tests":
 - any: [ 'src/Credfeto.ImageLoader.Standard.Tests/**/*' ]
